       dt {
           text-align: center;
           color: #336699;
           font-family: "SimHei", cursive, sans-serif;
           margin-right: 5%;
       }
       
       dd {
           text-align: center;
           color: #336699;
           font-family: "SimHei", cursive, sans-serif;
           margin-right: 5%;
       }
       
       img {
           height: 500px;
           border-radius: 25px;
       }
       
       p {
           color: #336699;
           font-family: "Microsoft YaHei", cursive, sans-serif;
           margin-right: 10%;
           margin-left: 10%;
       }
       
       h2 {
           color: #336699;
           font-family: "SimHei", cursive, sans-serif;
       }
       
       h1 {
           color: #6699CC;
           font-family: "STHupo", cursive, sans-serif;
           text-align: center;
       }
       
       .left_hand_picture {
           margin-left: 2%;
       }
       
       .wordsmove {
           text-align: right;
           margin-right: 3%;
       }
       
       body {
           background-color: #FFFFCC
       }
       
       a:link {
           color: #FF0000;
           text-decoration: underline;
       }
       
       a:visited {
           color: #336699;
           text-decoration: none;
       }
       
       a:hover {
           color: #000000;
           text-decoration: none;
       }
       
       a:active {
           color: #FFFFFF;
           text-decoration: none;
       }
