table {
    width: 100%
}

h2,
td {
    text-align: center;
}

.duiqi {
    vertical-align: bottom;
}

.bd_cor {
    border-color: #faebcc;
}

.spe_height {
    height: 80px;
}

.center {
    text-align: center;
}
